[Unit]
Description=Orion Screen Service
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/orangepi/screen-manager/src
ExecStart=/usr/bin/python3 /home/orangepi/screen-manager/src/main.py
ExecStop=/bin/kill $MAINPID
Restart=always
RestartSec=10
KillMode=control-group
KillSignal=SIGTERM
TimeoutStopSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
