INFLUX_URL={{ fleet_influx_url | default('http://localhost:8086') }}
INFLUX_ORG={{ fleet_influx_org | default('orion') }}
INFLUX_BUCKET={{ fleet_influx_bucket | default('fleet') }}
INFLUX_TOKEN_FILE={{ fleet_influx_token_file | default('/home/orangepi/.influxdb_token') }}
INTERVAL_S=60